.App {
  width: 90%;
  margin: auto;
}
.slick-prev::before, .slick-next::before {
  color: grey !important;
}
.Slick-content {
  display: flex !important;
  justify-content: center;
  position: relative;
  /* background-image: url('./assets/img/australia.jpg');
  background-size: cover;
  background-repeat: no-repeat; */
}
.slick-slider {
  display: flex;
  height: 100%;
}
.FormDiv {
  display: flex;
}
.image-text-content {
  position: absolute;
  height: 60vh;
  display: flex;
  flex-direction: column-reverse;
}
.InputDiv {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}
/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
